# mongodb.config

# Data directory
dbpath=C:\data\db

# Log directory
logpath=C:\data\log\mongodb.log

# Enable authentication
#security:
#  authorization: enabled

# Network interfaces
net:
  port: 27017
  bindIp: 127.0.0.1

# Storage
storage:
  dbPath: C:\data\db
  journal:
    enabled: true

# System log
systemLog:
  destination: file
  path: C:\data\log\mongodb.log
  logAppend: true 